# Empty

Empty template for your purpose.

In [1]:
import xarray as xr
import numpy as np
import pandas as pd
import random
import datetime as dt

import qnt.output as qnout
import qnt.data as qndata
from qnt.data import ds, stocks_load_list, stocks_load_data, stocks_restore_origin_data
from qnt.stepper import test_strategy
from qnt.stats import calc_stat
from qnt.graph import make_plot, make_plot_double, make_plot_filled
from qnt.exposure import drop_bad_days

WARNING: env is not set DATA_BASE_URL

In [2]:
data = qndata.stocks_load_data()

fetched chunk 1/9 1s
fetched chunk 2/9 2s
fetched chunk 3/9 3s
fetched chunk 4/9 4s
fetched chunk 5/9 5s
fetched chunk 6/9 6s
fetched chunk 7/9 7s
fetched chunk 8/9 8s
fetched chunk 9/9 10s
Data loaded 10s

In [3]:
# data = qndata.futures_load_data()

In [4]:
# data = qndata.crypto_load_data()

In [5]:
#output = data.sel(field='close')
output = data.sel(field='is_liquid')
output = output/output.sum('asset')
output = drop_bad_days(output)

In [6]:
stat = calc_stat(data, output)
stat.to_pandas()

field,equity,relative_return,volatility,underwater,max_drawdown,sharpe_ratio,mean_return,bias,instruments,avg_turnover,avg_holding_time
time,,,,,,,,,,,
2014-11-06,1.005876,0.005876,0.000000,0.000000,0.00000,inf,3.351617,1.0,498.0,0.000000,NaN
2014-11-07,1.008440,0.002550,0.026350,0.000000,0.00000,71.024465,1.871500,1.0,498.0,0.500000,NaN
2014-11-10,1.010309,0.001853,0.027810,0.000000,0.00000,48.857700,1.358753,1.0,498.0,0.337521,NaN
2014-11-11,1.011065,0.000748,0.030294,0.000000,0.00000,32.834795,0.994703,1.0,498.0,0.256127,NaN
2014-11-12,1.010640,-0.000420,0.033755,-0.000420,-0.00042,20.772751,0.701176,1.0,498.0,0.206849,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2020-04-20,1.239182,-0.013417,0.169134,-0.176381,-0.32768,0.236749,0.040042,1.0,1212.0,0.024959,90.751100
2020-04-21,1.210277,-0.023326,0.169371,-0.195593,-0.32768,0.209785,0.035532,1.0,1212.0,0.024958,91.089423
2020-04-22,1.210328,0.000042,0.169310,-0.195559,-0.32768,0.209753,0.035513,0.0,1212.0,0.024939,91.411510
2020-04-23,1.210342,0.000011,0.169248,-0.195550,-0.32768,0.209686,0.035489,0.0,1212.0,0.024923,170.897926
2020-04-24,1.210342,0.000000,0.169187,-0.195550,-0.32768,0.209607,0.035463,0.0,1212.0,0.024905,170.897926

In [7]:
qnout.write(output)

WARNING: env is not set OUTPUT_PATH
write output: fractions.nc.gz